spring:
  application:
    name: event-registration
  datasource:
    url: jdbc:postgresql://postgres:5432/eventsdb
    username: secretuser
    password: verystrongpassword
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always